<footer class="main-footer mt-5 pt-4 text-white">
    <div class="container">
        <div class="col">
            <h3>Entre em contato</h3>
            <address>
                +55 12 98887-1738
                <br/>
                <a href="mailto:{{ contato_email }}">{{ contato_email }}</a>
            </address>
        </div>
    </div>
    <div class="rights pb-2">
        <div class="container">
            <div class="col">
                {% now 'Y' %} Eduardo Bazler.
            </div>
        </div>
    </div>
</footer>