{% extends 'base/base.html' %}
{% load static %}

{% block title %}Eduardo Bazler - home{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">

                <div class="jumbotron card card-block">
                    <h2>
                        Página edu
                    </h2>
                    <h4 class="mt-auto">Se inscreva</h4>
                          <form action="https://unesp.us6.list-manage.com/subscribe/post?u=68b09b1c2a94e5ea8b9c90537&amp;id=4a99b07f18"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate>
                          <div class="form-row align-items-center ">
                            <div class="col-auto">
                              <label class="sr-only" for="mce-EMAIL">Email: </label>
                              <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">
                            </div>
                              <div class="col-auto ">
                              <label class="sr-only" for="mce-FNAME" >Nome de cadastro:</label>
                              <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">
                                </div>
                              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_68b09b1c2a94e5ea8b9c90537_4a99b07f18" tabindex="-1" value=""></div>


                            <div class="col-auto">
                              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                     class="btn btn-primary">
                            </div>
                          </div>
                        </form>

                    </p>
                </div>
            </div>
        </div>

      <div class='container mt-4'>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        Mais detalhes sobre o autor da página
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <img src="{% static 'img/fisica.jpg' %}" alt="Foto de Eduardo Bazler"
                                 class="img-thumbnail float-left m-lg-2"/>
                            Eduardo Bazler é estudante de engenharia elétrica na UNESP-SP,onde no priemiro ano teve contato
                            com o mundo da programação e se viciou. (teste de site)
                            Veja seu instagram: <a href="https://www.instagram.com/eduardobazler/">@eduardobazler</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}